@import url(styles/Header.css);
@import url(styles/JourneyBoard.css);
@import url(styles/NoticeBoard.css);
@import url(styles/MainContainer.css);


body {
    margin: 0;
    max-width: 100dvw;
    overflow-x: hidden;
    line-height: normal;
}