.home-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    gap: var(--gap-xs);
    padding: var(--padding-xl);
    right: 0;
    bottom:0;
}
.option-icon{
    height: 43px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-blue);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.33);

    
}