.home-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    gap: var(--gap-xs);
    padding: var(--padding-5xl);
    right: 0;
    bottom:0;
}
.option-icon{
    height: 48px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-blue);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}



.option1{
    background-image: url(../assets/question-mark.png);
}
.option2{
    background-image: url(../assets/meeting.png);
}
.option3{
    background-image: url(../assets/schedule.png);
}
.option1,
.option2,
.option3{
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40%;
}
