.journey-board {
    position: absolute;
    top: 15%;
    left: 0;
    /* later change it to nav height or convert it px */
    height: 80dvh;
    width: 30dvw;
    background-color: var(--color-white);
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
    border-radius: var(--br-xl);
    border-top-left-radius: 0;
    z-index: 98;
    overflow: hidden;
    transform: translateX(-85%);
    transition: transform 0.3s ease;
}

.journey-board .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    margin: 0;
    padding: var(--padding-3xs) 0;
}

.journey-board .heading h2 {
    margin: 0;
    font: var(--font-size-xl) var(--font-poppins);
    font-weight: 300;
    padding-left: var(--padding-xs);
}

.heading .arrow-left-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-white);
    margin-right: var(--padding-3xs);
    cursor: pointer;
}

.arrow-left-icon .journey-board-checkbox {
    display: none;
}

.journey-board.open {
    transform: translateX(0);
}

.journey-board .content {
    margin: 0 var(--padding-3xs);
}