.notice-board {
    position: absolute;
    top: 15%;
    right: 0;
    /* later change it to nav height or convert it px */
    height: 40dvh;
    width: 30dvw;
    background-color: var(--color-white);
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.33);
    border-radius: var(--br-xl);
    z-index: 98;
    overflow: hidden;
    transform: translateX(85%);
    transition: transform 0.3s ease;
}

.notice-board .heading {
    display: flex;
    height: 100%;
    width: 15%;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    margin: 0;
}

.notice-board .heading h2 {
    margin: 0;
    writing-mode: vertical-rl; 
    text-orientation: upright;
    font: var(--font-size-basic) var(--font-poppins);
    font-weight: 300;
}

.heading .arrow-right-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--color-white);
    cursor: pointer;
}

.arrow-right-icon .notice-board-checkbox {
    display: none;
}

.notice-board.open {
    transform: translateX(0);
}

.notice-board .content {
    margin: 0 var(--padding-3xs);
}